extends ../layout

block content
  .row
    .col-md-3.hidden-xs
      +editProjectNav(project, 1)
    .col-md-9
      form(role='form', method='POST', action='/projects')
        .form-group
          label(for='project-name') Project name
          input.form-control(type='text', name='name', placeholder='', value='#{project.name}')
        .form-group
          label(for='project-description') Description
          +mdEditor(10, project.description)
        button.btn.btn-primary(type='submit') Save
        a.btn(href="/") Cancel
