extends ../layout

block content
  .row
    .col-md-3.hidden-xs
      +editProjectNav(project, 1)
    .col-md-9
      .alert.alert-info.alert-dismissible
        button.close(type='button', data-dismiss='alert')
          span(aria-hidden='true') ×
          span.sr-only Close
        | Drag re-order states to change the workflow 
      div.text-right
        a(href='#')
          | Add type
      each t in types
        .panel
          span.circle(style='background:#{t.color};')
          span #{t.name}
          .state-orderer
            each s in t.states
              .state-orderer-children(data-order='#{s.order}') #{s.name}
          p
          a(href='#')
            | Add state
