extends ../layout

block content
  .row
    .col-md-3
      .thumbnail.dotted-border
        .caption
          a(href='/projects/new') Create a project
      .text-muted
        p Seems like a good day to start something!
        p Import projects form 
          a(href='/projects/import') GitHub
    .col-md-9.row
      each val in projects
        .thumbnail.col-md-4
          .caption
            h3 #{val.name}
            div!= marked(val.description || '')
            .btn-group-flat
              a(href="/#{val.path}/edit/details") Edit  
              a(href="/#{val.path}/tasks") Dashboard
      if(!projects.length)
        .text-muted.text-center
          p Noop, nothing here.
