extends ../layout

block content
  .row
    .col-md-3
      .thumbnail.dotted-border
        .caption
          h3 Create a new project
          p
            a.btn.btn-primary(href='/projects/new', role='button') Create
      .text-muted
        p Seems like a good day to start something!
        p Import projects form 
          a(href='/projects/import') GitHub
    .col-md-9
      each val in projects
        h1 #{val.name}
        div!= marked(val.Description || '')
      if(!projects.length)
        .text-muted.text-center
          p Noop, nothing here.
