extends ../layout

block content
  .row
    .col-md-3
      .thumbnail.dotted-border
        .caption
          h3 Create a new project
          p
            a.btn.btn-primary(href='/projects/new', role='button') Create
      .text-muted
        p Seems like a good day to start something!
        p Import projects form 
          a(href='/projects/import') GitHub
    .col-md-9
      each val in projects
        .panel.panel-default
          .panel-body
            a(href="/#{val.path}/tasks") 
              h1 #{val.name}
              a(href="/#{val.path}/edit/details")
                i.glyphicon.glyphicon-pencil
            div!= marked(val.description || '')
      if(!projects.length)
        .text-muted.text-center
          p Noop, nothing here.
