include ./mixins/markdown
include ./mixins/edit-project-nav
include ./mixins/flash

if !pjax
  include ./partials/yoda
  html(lang="en")
    head
      include ./partials/head
    body
      content#done-container
        include ./partials/nav
        .container
          +flash()
          block content

    include ./partials/scripts

else 
  content#done-container
    include ./partials/nav
    .container
      +flash()
      block content
