<div class="markdown-editor thumbnail">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#write" role="tab" data-toggle="tab">Write</a></li>
    <li><a href="#preview" role="tab" data-toggle="tab">Preview</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="write">
    <textarea class='form-control' rows="{{.}}" name="description">
    </textarea>
    </div>
    <div class="tab-pane" id="preview">A minute, loading preview...</div>
  </div>
</div>